<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml"/>

<!-- Link common CSS and JavaScript files-->
<link rel=stylesheet type=text/css href="/static/stylesheets/style.css">
<link rel=stylesheet type=text/css href="/static/stylesheets/github-issue.css">
<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<!--<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">-->
<!--<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->

<!-- Set favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/static/favicons/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/static/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/static/favicons/manifest.json">
<link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Set standalone -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">
<script src="/static/javascripts/ios-stay-standalone.js"></script>
