{% extends 'layout.html' %}

{% block head %}

<title>{{ site.title }}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/github_issue.css') }}">

{% endblock %}

{% block body %}

<ul class="table-list table-list-bordered table-list-issues js-navigation-container js-active-navigation-container">
    {% from 'lists.html' import item %}
    {% for entry in page.entries %}
    {{ item(entry) }}
    {% else %}
    <li>No entry.</li>
    {% endfor %}
</ul>

<div class="bottom-link">
    {% if page.has_older %}
    <a href="{{ page.older_url }}" class="label bottom-link-item">Older</a>
    {% endif %}
    {% if page.has_newer %}
    <a href="{{ page.newer_url }}" class="label bottom-link-item">Newer</a>
    {% endif %}
</div>

{% endblock %}
