{% set colors = ['#e11d21', '#eb6420', '#fbca04', '#009800', '#006b75', '#207de5', '#0052cc', '#5319e7'] %}
{% macro item(entry) -%}
<li class="table-list-item">
    <div class="table-list-cell issue-title">
        <a href="{{ entry.url }}" class="issue-title-link">
            {{ entry.title }}
        </a>
        {% for tag in entry.tags %}
        <span>
            {% set index = tag|length % colors|length %}
            {% set style = 'style="background-color: %s; color: #fff;"'|format(colors[index]) %}
            <a href="#" class="label" {{ style|safe }}>{{ tag }}</a>
        </span>
        {% endfor %}
        <div class="issue-meta">
            <span class="issue-meta-section">
                published on {{ entry.date.month }} {{ entry.date.strftime('%b') }}, {{ entry.date.year }} by {{ entry.author }}
                {% if entry.categories %}
                in
                {% if entry.categories|length > 1 %}
                categories
                {% else %}
                category
                {% endif %}
                {{ entry.categories[0] }}
                {% for cat in entry.categories[1:] %}
                + {{ cat }}
                {% endfor %}
                {% endif %}
            </span>
        </div>
    </div>
</li>
{%- endmacro %}
