{% extends 'layout.html' %}

{% block head %}

<title>{{ page.title + ' - ' + site.title }}</title>
<link rel=stylesheet type=text/css href="/static/stylesheets/github_markdown.css">
<link rel=stylesheet type=text/css href="/static/stylesheets/code.css">

{% endblock %}

{% block body %}

<div class="markdown-body article">
    {% set colors = ['#e11d21', '#eb6420', '#fbca04', '#009800', '#006b75', '#207de5', '#0052cc', '#5319e7'] %}
    {% for tag in page.tags %}
    <span>
        {% set i = tag|length % colors|length %}
        {% set style = 'style="background-color: %s; color: #fff;"'|format(colors[i]) %}
        <a href="/tag/{{ tag }}" class="label" {{ style|safe }}>{{ tag }}</a>
    </span>
    {% endfor %}

    <h1>{{ page.title }}</h1>

    <table>
        <thead>
        <tr>
            {% if page.categories %}
            <th>类别</th>
            {% endif %}
            <th>发布日期</th>
            {% if page.updated %}
            <th>更新日期</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if page.categories %}
            <td>
                <a href="/category/{{ page.categories[0] }}" class="muted-link">{{ page.categories[0] }}</a>
                {% for cat in page.categories[1:] %}
                & <a href="/category/{{ cat }}" class="muted-link">{{ cat }}</a>
                {% endfor %}
            </td>
            {% endif %}
            <td>{{ page.date.day }} {{ page.date.strftime('%b') }}, {{ page.date.year }}</td>
            {% if page.updated %}
            <td>{{ page.updated.day }} {{ page.updated.strftime('%b') }}, {{ page.updated.year }}</td>
            {% endif %}
        </tr>
        </tbody>
    </table>

    {{ page.body|safe }}
</div>

{% if site.duoshuo_enable %}
{% include 'duoshuo.html' ignore missing %}
{% endif %}

{% if site.disqus_enable %}
{% include 'disqus.html' ignore missing %}
{% endif %}

{% endblock %}
