{% extends 'layout.html' %}

{% block head %}

<title>{{ page.title + ' - ' + site.title }}</title>

{% endblock %}

{% block body %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% for category in page.categories %}
      {% if loop.index > 1 %}
      <span> & </span>
      {% endif %}
      <a href="/category/{{ category }}">{{ category }}</a>
      {% endfor %}
      <i class="fa fa-fw fa-angle-right"></i>
    </h3>
  </div>
  <div class="panel-body markdown-body">
    <article>
      <h1>{{ page.title }}</h1>
      <hr>
      {{ page.body|safe }}
    </article>
  </div>
  <div class="panel-footer">
    <span><i class="fa fa-fw fa-user"></i>{{ page.author }}</span>
    <span><i class="fa fa-fw fa-calendar"></i>{{ page.date.strftime('%Y.%-m.%-d') }}</span>
    {% if page.updated %}
    <span><i class="fa fa-fw fa-refresh"></i>{{ page.updated.strftime('%Y.%-m.%-d') }}</span>
    {% endif %}
    <span>
      <i class="fa fa-fw fa-tags"></i>
      {%- for tag in page.tags -%}
      {% if loop.index > 1 %}<span>, </span>{% endif %}<a
            href="/tag/{{ tag }}">{{ tag }}</a>
      {%- endfor -%}
      </span>
  </div>
</div>
{% if site.duoshuo_enable or site.disqus_enable %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      Discuss
      <i class="fa fa-fw fa-angle-right"></i>
    </h3>
  </div>
  <div class="panel-body markdown-body">
    {% if site.duoshuo_enable %}
    {% include 'duoshuo.html' ignore missing %}
    {% else %}
    {% include 'disqus.html' ignore missing %}
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}
