{% extends 'layout.html' %}

{% block head %}

<title>{{ page.archive_name + ' - Tag - ' + site.title }}</title>

{% endblock %}

{% block body %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      Archive
      <i class="fa fa-fw fa-angle-right"></i>
    </h3>
  </div>
  <div class="panel-body markdown-body">
    <article>
      <h1>Tag: {{ page.archive_name }}</h1>
      <hr>
      <table class="table table-hover">
        <tbody>
        {% for entry in page.entries %}
        <tr>
          <td class="text-right" style="border-top: none; width: 15%;">{{ entry.date.strftime('%Y.%-m.%-d') }}</td>
          <td style="border-top: none"><a href="{{ entry.url }}">{{ entry.title }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </article>
  </div>
</div>

{% endblock %}
